<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>81934510365-ccid4v0j5q5rkdp8uhadc2p5fn79n90c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.81934510365-ccid4v0j5q5rkdp8uhadc2p5fn79n90c</string>
	<key>API_KEY</key>
	<string>AIzaSyBkfYW4oOYPER_NFfeBi8a49pmS8HGGvUI</string>
	<key>GCM_SENDER_ID</key>
	<string>81934510365</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simone-chan.Makestagram</string>
	<key>PROJECT_ID</key>
	<string>makestagram-e19f0</string>
	<key>STORAGE_BUCKET</key>
	<string>makestagram-e19f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81934510365:ios:c0c479ab51774d89</string>
	<key>DATABASE_URL</key>
	<string>https://makestagram-e19f0.firebaseio.com</string>
</dict>
</plist>